.col-sm-4 .card-block{
  padding: 1.25rem 1.25rem 0 1.25rem;
  height: 300px;
  p{
    margin-bottom: 0;
  }
}
.card-block{
  padding: 1.25rem;

}
.card{
  margin-bottom: 20px;
}
.navbar{
  border-bottom: 2px solid rebeccapurple;
  border-top: 1px solid rebeccapurple;
}
footer {
  position: absolute;
  bottom: 0;
}
.jumbotron{
  min-width: 80vw;
}
.nav-link{
  border-radius: 40px;

}